body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


/** ===============HEADER=============== */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #000;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 332px;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    margin-right: 76px;
}

.header-logo-part {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.address-item {
    }

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus {
    color:#404BBF;
}
/** ================================== */


/** ===============HERO=============== */

.hero {
    padding: 188px 472px 292px 472px;
    background: #2e2f42;
    
    }


.hero-container {
    display: flex;
    align-items: center;
    }

.hero-wrap {
    
}
    

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;

}

.hero-buy-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    padding: 16px 32px 16px 32px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    margin-top: 48px;
    
    
}
.hero-buy-btn:hover,
.hero-buy-btn:focus {
    background: #404bbf;
}

.hero-buy-btn-wrap {
margin-top: 48px;
    margin-right: 635px;
    margin-bottom: 188px;
    margin-left: 636px;

    padding: 48px 635px 188px 636px;
}

/** =================================== */


 /** ==============FEATURES============ */
 
 .features {
    padding-top: 120px;
    padding-right: 156px;
    padding-left: 156px;
    padding-bottom: 120px;
 }

.features-container {
    display: flex;
    align-items: center;
}

.features-list {
    max-width: 264px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;
 }

 .features-item {
    width: calc((100% - 3 * 24px) / 4);
 }

 .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    

 .features-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }
 /** =================================== */


 /** ==============TEAM============ */

 .team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    }

 .team-container {
    display: flex;
    align-items: center;
 }

 .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    max-width: 162px;
    padding: 120px 639px 72px 639px;
    margin: 0 auto;
    margin-bottom: 72px;

}
 
 .team-list {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 24px;
 }

 .team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px 0;
 }

 .team-image {}

 .team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}

 .team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
 }
/** =================================== */


/** ==============PORTFOLIO============ */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    padding: 120px 611px 72px 455px;
}

.portfolio-container {
    display: flex;
    align-items: center;
}

 .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    max-width: 218px;
    margin: 0 auto;
    margin-bottom: 72px;
 }

 .portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding-left: 156px;
    padding-right: 156px;
 }

 .portfolio-item {
    width: calc((100% - 5 * 24px) / 6);
 }

 .portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

 .portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
 /** =================================== */


 /** ==============FOOTER============ */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 1px solid #000;
}

.footer-container {
    display: flex;
    align-items: center; 
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-part {
    color: #2e2f42;
}

.footer-logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0 auto;
}
/** =================================== */